@import url('https://fonts.googleapis.com/css?family=Bahianita|Barriecito&display=swap');
body {
  background-image: url("https://media1.tenor.com/images/9bc211bce15728fe101405f6f851ed52/tenor.gif?itemid=14243222");
    background-repeat: no-repeat;
background-size: 100%;
}
h1 {
  font-size: 90px;
  font-family:'Barriecito', cursive;
   text-shadow: 2px 2px 5px rgb(243, 247, 24);
  color: #67dfe7;
   -webkit-animation-name: jackInTheBox;
  animation-name: jackInTheBox;
  -moz-animation: jackInTheBox 1s ease-in-out infinite alternate;
  }  
#splash{
  text-align: center;
  margin-top: 8%;
}  
@-webkit-keyframes
glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px rgb(11, 252, 11), 0 0 30px #3c917e, 0 0 40px #e1f8f5, 0 0 50px #113163, 0 0 60px #6facc9, 0 0 70px #67dfe7;
  }
  
  to {
    text-shadow: 0 0 20px rgb(255, 255, 255), 0 0 30px #906cf5, 0 0 40px #8edee4, 0 0 50px #200581, 0 0 60px #1725e0, 0 0 70px #454fcf, 0 0 80px #4d77ff;
  }
}
h2 {
  font-size: 35px;
  text-align: center;
  color: #e1f8f5;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  font-family: 'Bahianita', cursive;

}
@-webkit-keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
    transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }

  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.demo {position:center;
text-align: center }

.button {
  background-color:rgb(90, 234, 253);
  border: 5px;
  color: white;
  padding: 15px 28px;
  text-align: center;
  display: inline-block;
  font-size: 32px;
  font-family: 'Bahianita', cursive;
  box-shadow: 0 8px 16px 0 rgba(28, 138, 241, 0.2), 0 6px 20px 0 rgba(49, 241, 32, 0.19);}

  .form-control { 
  border: 5px;
  color:black;
  padding: 15px 28px;
  text-align: center;
  display: inline-block;
  font-size: 32px;
  font-family: 'Bahianita', cursive;
  box-shadow: 0 8px 16px 0 rgba(28, 138, 241, 0.2), 0 6px 20px 0 rgba(49, 241, 32, 0.19);
  }